{{- $profile := .Params.profile -}} {{- if not $profile -}} {{- $profile = site.Params.profile -}} {{- end -}} {{- with $profile -}} {{- if eq .enable true -}}
<section class="article author">
    <div class='author-wrapper'>
        <div class='author-left'>
            {{- with .avatar -}} <img class="avatar" src="{{- . | relURL -}}" alt> {{- end -}}
        </div>
        <div class='author-right'>
            {{- with .name -}}
            <p class="name">{{- . -}}</p>{{- end -}} {{- with .email -}}<a class="item-email" href="mailto:{{- . | safeHTML -}}" target="_blank" rel="noopener noreferrer">{{- . -}}</a> {{- end -}}
        </div>
    </div>
</section>
{{- end -}} {{- end -}}