{{- if and (not (eq .Params.single true)) (or .PrevInSection .NextInSection) -}} {{- if and (and (ne .File.Path "home.md") (ne .File.Path "notice.md")) (ne .File.Path "shortcuts.md") -}}
<section class="article navigation">
    {{- with .NextInSection -}} {{- $title := .Title | safeHTML -}} {{- if $title -}}
    <p><a class="link" href="{{- .RelPermalink -}}"><span class="iconfont icon-article"></span>{{- $title -}}</a></p>{{- end -}} {{- end -}} {{- with .PrevInSection -}} {{- $title := .Title | safeHTML -}} {{- if $title -}}
    <p><a class="link" href="{{- .RelPermalink -}}"><span class="iconfont icon-article"></span>{{- .Title | safeHTML -}}</a></p>{{- end -}} {{- end -}}
</section>
{{- end -}} {{- end -}}