{{- $nav := . -}} {{- if or $nav.showCategories $nav.showTags $nav.custom -}}
<div class="nav wrap">
    <nav class="nav">
        {{- if $nav.showCategories -}}
        <a class="nav item" href="{{- `/categories/` | relLangURL -}}">{{- T "Categories" -}}</a> {{- end -}} {{- if $nav.showTags -}}
        <a class="nav item" href="{{- `/tags/` | relLangURL -}}">{{- T "Tags" -}}</a> {{- end -}}

        <a class="nav item-main" href="{{- `/ai/` | relURL -}}"><span class="iconfont icon-ai"></span>Weekly AI</a>
        <a class="nav item-main" href="{{- `/algorithm/` | relURL -}}"><span class="iconfont icon-algo"></span>Algorithm</a>
        <a class="nav item-secondary" href="{{- `/shortcuts/` | relURL -}}"><span class="iconfont icon-algo"></span>Shortcuts</a>
        <a class="nav item-secondary" href="{{- `/notice/` | relURL -}}"><span class="iconfont icon-algo"></span>Notice</a>
    </nav>
</div>
{{- end -}}